$accent: rgb(83, 39, 104);
$boxShadow: 0px 0px 50px black;
$border: 5px;

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #21033d, #3c1861, #582e87, #7646af, #945fda);
}

.banner {
    padding: 30px;
    margin: 20px;
    box-shadow: $boxShadow;
    background-color: $accent;
    border-radius: $border;
}

.container {
    display: flex;
    flex-direction: column;
    ul {
        border: black 2px solid;
        box-shadow: $boxShadow;
        padding: 10px;
        border-radius: $border;
        div {
                background-color: $accent;
                font-size: 25px;
                margin-right: 2vh;
                border: black 2px solid;
                border-radius: $border;
                padding: 3px;
                width: 170px;
                text-align: center;
        }
        li {
            display: flex;
            font-size: 25px;
            margin: 10px;
            align-items: center;
        }
    }
    button {
        margin: 20px;
        padding: 10px;
        background-color: $accent;
        font-weight: bold;
        font-size: 25px;
        border: none;
        box-shadow: $boxShadow;
        border-radius: $border;
        cursor: pointer;
    }
}



